.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  
  
  .btn {
    border-radius: 25px;
  }
  
  footer p {
    color: rgba(0, 0, 0, 0.6);
  }
  
  footer p a,
  footer p a:hover {
    color: rgb(99, 204, 131);
  }
  
  /* @media (min-width: 500px) {
    .container {
      max-width: 500px;
    }
  } */
  #search{
    width:1150px;
  }
  #same-line{
    display: inline-block; 

  }
  .form-outline,input{
    display: inline-block !important;
  }
  .search-button{
   
    padding: 8px;
    color:rgba(4, 52, 73, 0.815);
    font-size: medium;
    font-weight: 530;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
    background: none;
  }
  .next-button{
    margin-left:1150px;
    padding: 5px;
    color:rgba(4, 52, 73, 0.815);
    font-size: medium;
    font-weight: 530;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
    background: none;
  }