
.style{
    border-radius: 50%;
    height: 100px;
    width: 100px;

}
.inline{
    display: grid;
  grid-template-columns: min-content 1fr;
}
.wrap{
    
    padding:20px;
}
.profile{
    margin:0px;
    padding-left:20px;
}